body {
height: 95vh;
width: 100%;
background-image: url("https://previews.dropbox.com/p/thumb/ABmJxP_JbfaLg0VoB0dvrIIxUA-B0f2z7OJCsMxMr1OK3-Iqz1I_tLDmJosO-gloO-KmuqFEMyxYG7N5FlhWxL8Qxr4ivJ0tCsU5pODZEnL0jIr0Kt-eAFm-M-ik7tWoWoCYxuQCkv3gOZBYkf4zJcTGQcMEZaxyARKaJl6dd0Oo2QsOmhNVAKwkb7RrWMuxPJNT-KLKOCovpano9tF3BhMe5AJHqOdtxu52Xou4Dl65Ahh2ZVCqO1QFOdcSWYkKwvZspwzroYJDHL97WiOgXOvD--YP5MiGNTaHWj06bYjPz-YZFr_cC68Ojajg6uDuUroqa0yOC8E4fJg-GDknGED0je3o89L9B9XRhe8ZfUSXckV9xDjeuvLRKa2wqZFcWhs/p.gif");
background-position: bottom right;
background-repeat: no-repeat;
background-size: 35rem;
background-color: white;
}

.content {
text-align: center;
background-color:#FBD100;
margin: auto;
width: 40%;
border: 15px solid #740001;
border-style: double;
border-radius: 30px;
padding: 15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page-title {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 2rem;
background-color: #740001;
color: rgb(254, 254, 254);
border-radius: 3px;
border-color: #FBD100;
}

.description {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #fafafa;   
color: black;
border-radius: 5px;
}

.inptboxes {
width: fit-content;
margin: auto;
padding: 15px;
background-color: #740001;
border: 8px solid #FBD100;
border-style: double;
border-radius: 15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:whitesmoke;
}

.button {
margin: auto;
margin-top: 25px;
text-align: center;
display: flex;
background-color: #FBD100;
color:#740001;
border: 3px solid #AE0001;
border-radius: 15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold; 
}
    
.button:hover {
transition: 0.5s;
cursor: pointer;
background-color:#740001;
color: #FBD100;   
}
    
.output {
text-align: center;
width: max-content;
margin: auto;
margin-top: 35px;
border-radius: 2px;
background-color: #740001;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #EEBA30;
font-size: 2em;

}
